@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #212121;
  --background: #fff;
}

body {
  color: rgb(var(--foreground-rgb));
  display: flex;
  background: var(--background);
  transition: 0.4s all ease-out;
}
body * {
  transition: 0.4s all ease-out;
  box-sizing: border-box;
  line-height: 100%;
  scrollbar-width: thin;
}
main {
  padding-inline: 1rem;
}
.header-font {
  color: #181818;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.heroTitle {
  color: var(--gray-gray-800, #212121);
  font-weight: 700;
  line-height: 100%;
}
.heroSubTitle {
  color: var(--gray-gray-600, #565656);
  font-weight: 400;
  line-height: 100%;
}
.heroSubTitle span {
  color: var(--gray-gray-900, #181818);
  margin-left: 5px;
  text-decoration-line: underline;
  cursor: pointer;
}
.mantine-Accordion-control {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.mantine-Accordion-control span:first-child {
  display: block;
  width: 14px;
  height: 14px;
}
/* .mantine-Accordion-control span:last-child {
  font-weight: 400;
} */

.shallow-shadow {
  box-shadow: 0px 1px 6px 0px rgba(60, 60, 60, 0.08), 0px 2px 10px 0px rgba(60, 60, 60, 0.04);
}

/* scroll-bar */
::-webkit-scrollbar,
body *::-webkit-scrollbar,
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 8px !important;
  height: 0px;
  background: rgb(254, 254, 254) !important;
}

::-webkit-scrollbar-thumb,
body *::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #6d6d6d !important;
  border-radius: 0px;
  -webkit-border-radius: 0ex;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-track,
body *::-webkit-scrollbar-track,
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #0d9488 !important;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body *::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #0d9488 !important;
}
body *::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #0d9488 !important;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body::-webkit-scrollbar,
body * ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* mantine modal */
.mantine-Modal-root {
  height: 100vh;
  width: 99vw;
  position: absolute;
  top: 1px;
  display: none;
  left: 1px;
  background: white;
  z-index: 10;
  overflow: auto;
}
.mantine-Paper-root {
  height: 100%;
}
.mantine-Modal-inner,
.mantine-ScrollArea-viewport {
  overflow: auto !important;
  overflow-x: hidden !important;
}
.mantine-Modal-close {
  position: fixed;
  top: 14px;
  right: 10px;
  width: 30px;
}
.mantine-Modal-inner {
  width: 100%;
}
.mantine-Modal-header {
  height: 50px;
  display: flex;
  border-bottom: 1px solid #f4f4f4;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}
.mantine-Modal-header h2 {
  color: var(--Gray-Gray-800, #212121);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px; /* 100% */
}
.min-w-32 {
  max-width: 8rem;
  min-width: 8rem;
}
.min-w-60 {
  max-width: 15rem;
  min-width: 15rem;
}

.mantine-Accordion-chevron[data-rotate="true"]{
  transform: rotate(180deg);
}